// colors:
$primary: #0663ef;
$secondary: #0663ef14;

$content-black: #22252b;
$content-grey: #22252bb2;
$content-white: #ffffff;

$border-grey: #22252b29;

$background-white: #ffffff;
$background-main: #f4f5f6;

$error: #c24100;
